name: Release CI

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SANITY_STUDIO_PROJECT_ID: brvct6ie
      SANITY_STUDIO_DATASET: production
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.11.1
          cache: pnpm
      - name: Run install
        run: pnpm install --shamefully-hoist
      - name: Build production bundle
        run: pnpm run build
      - name: Deploy to production
        run: pnpm run deploy --dir ./dist --prod --site ${{secrets.NETLIFY_SITE_ID}} --auth ${{secrets.NETLIFY_TOKEN}}
